.cs-cursor_lg,
.cs-cursor_sm {
  position: fixed;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 29999;
  opacity: 1;
  visibility: visible;
}
.cs-cursor_lg {
  width: 40px;
  height: 40px;
  border: 1px solid $accent;
  pointer-events: none;
  transition: 0.15s;
}
.cs-cursor_sm {
  width: 12px;
  height: 12px;
  background-color: red;
  pointer-events: none;
  transition: 0.2s;
}
@media screen and (max-width: 575px) {
  .cs-cursor_lg,
  .cs-cursor_sm {
    display: none;
  }
}
