/*--------------------------------------------------------------
## Basic Color
----------------------------------------------------------------*/
:root {
  --accent: #ff4a17;
  --primary-font: 'Poppins';
  --secondary-font: 'Open Sans';
}
$white: #ffffff;
$black: #000000;
$primary: #B3B3B3;
$secondary: #111111;
$ternary: #FF4A17;
$border: rgba(255, 255, 255, 0.15);
$gray: #1e1e1e;
$accent: #FF4A17;

$dark-rgb-gradient: linear-gradient(135deg, rgb(0 0 173) 0%, rgb(40, 45, 55) 50%, rgb(30, 30, 40) 100%);

// Text Gradients
$light-text-gradient: linear-gradient(135deg, #e0e0e0 0%, #ffffff 100%);
$accent-text-gradient: linear-gradient(135deg, $accent 0%, #f8f8f8 100%);
$subtle-accent-text-gradient: linear-gradient(135deg, lighten($accent, 15%) 0%, #ffffff 100%);
$glossy-white-text-gradient: linear-gradient(135deg, rgba(255,255,255,0.9) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.8) 100%);

// Mixin for Text Gradient
@mixin text-gradient($gradient, $fallback-color: $white) {
  color: $fallback-color; // Fallback for browsers that don't support background-clip
  background-image: $gradient;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
  // Ensure the gradient displays correctly
  display: inline-block; // Or block, depending on the element
}

// Spacing
$gap: 25px;
